<html>
        <!-- <head> -->

          <!-- <br>
            <a href= "/"> Go back to Homepage</a>
          <br>
        </head> -->
        <body>
              <br>
              <h1> <a href = "/bookview?title={{title}}">{{ title }} </a></h1>
              <br>
              {% if code %}
              <center><a href = "/bookview?title={{title}}"><img src="/img/{{id}}.jpg" alt="{{ title }} Cover"></a></center>
              {% endif %}

              {% if user %}
              <center><a href = "/bookview?title={{title}}"><img src="data:image/jpg;base64,{{s}}" alt ="{{ title }} Cover"></a></center>
              {% endif %}

              {% if library %}
              <form action="/removebooks" method = post>
                <input type="submit" name="remove" id = "remove" value="Remove this book from your library">
                <input type="text" name = "booktitle" id = "booktitle" value = "{{title}}" style="visibility: hidden;">

              </form>
              {% endif %}

              <br>
              <p> {{ author }} </p>
              <br>
              <p> {{ synopsis }}</p>
        </body>
</html>
